*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
latex/cvpr_2018.pdf
latex/figure/*.vsdx
latex/figure/progressgan_res
latex/cvpr2018.tex.*
latex/supp.tex.*
latex/figure/*.vsdx
